header {
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
header img {
  filter: drop-shadow(0.1rem 0.1rem 0.7rem rgb(2, 253, 240));
  margin: 1rem;
}
main {
  padding: 0.5rem;
  width: 100%;
}
footer {
  width: 100%;
  text-align: center;
}
