.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0, 2);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  top: 0;
}
.innerContainer {
  background-color: rgba(13, 15, 17);
  width: 80%;
  margin: auto;
  color: white;
  border-radius: 15px;
  padding: 15px;
}
.titleContainer {
  border-bottom: 1px solid white;
}
.footerContainer {
  border-top: 1px solid white;
}
