.Form input {
  width: 88%;
}
.Form label {
  font-weight: bold;
  font-size: small;
}
.input {
  position: relative;
}
input {
  padding-left: 25px;
}

.input i {
  position: absolute;
  left: 5px;
  top: 28%;
  transform: translateY(-10%);
}
